/*----------------------------------------------------------------------------
    Générique
----------------------------------------------------------------------------*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font: normal 1.125rem/160% "Roboto", sans-serif;
    font-optical-sizing: auto;
    color: #0A0908
}

/*------------------------------------------------------------------------------
   Éléments/typographie
------------------------------------------------------------------------------*/

h1{
    font: bold 3.125rem/110% "Jost", sans-serif;
    font-optical-sizing: auto;
    color: #F2F4F3;
    margin: 0;
}

h2{
    font: bold 2.25rem/110% "Jost", sans-serif;
    font-optical-sizing: auto;
    color: #0A0908;
    margin: 0;
    padding-bottom: 10px;
}

h3{
    font: bold 1.375rem/110% "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    color: #E25254;
    margin: 0;
    padding-bottom: 30px;
}

p{
    margin: 0;
}

a{
    font: bold 1.125rem/100% "Jost", sans-serif;
    font-optical-sizing: auto;
    color:#0A0908;
    text-decoration: none;
}

a:hover{
    color: #E25254;
}

/*------------------------------------------------------------------------------
   Components
------------------------------------------------------------------------------*/

/*-- Général --*/

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.bouton{
    font: bold 1.125rem/100% "Jost", sans-serif;
    font-optical-sizing: auto;
    color: #F2F4F3;

    border: none;
    border-radius: 23px;
    padding: 15px 20px;
    cursor: pointer;
}

.box{
    max-width: 588px;
    padding-bottom: 40px;
}

/*-- Header --*/

.header{
    background: #F2F4F3;
    border-top: #E25254 4px solid;
    margin: 0;
    padding: 14px 0;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo{
    font: bold 2.625rem/100% "Jost", sans-serif;
    font-optical-sizing: auto;
    color: #0A0908;

    display: flex;
    align-items: center;
    gap: 20px;
}

.header .logo span{
    font-size: 2.265rem;
    line-height: 100%;
}

.header ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 0;
    margin: 0;
}

/*-- Hero --*/

.hero{
    background: url(../images/hero.jpg) no-repeat center/cover;
    min-height: 650px;
    margin-top: 74px;
}

.hero .wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 650px;
}

.hero .boite{
    background: rgb(226, 82, 84, 0.9);
    max-width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero p{
    color: #F2F4F3;
}

.hero .bouton{
    align-self: flex-end;
    background-color: #C0392B;
}

/*-- Services --*/

.services{
    background: #D6D6D6;
    padding: 80px 0;
}

.services .conteneur-cartes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}
.services .carte{
    background: #F2F4F3;
    padding: 20px;
}

.services .carte:hover{
    background: #E25254;
    color: #F2F4F3;
}

.services .carte:hover h3{
    color: #F2F4F3;
}

.services .carte h3{
    display: flex;
    gap: 15px;
}
