/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/

body {
    font: normal 1.125rem/160% "Roboto", sans-serif;
    font-optical-sizing: auto;
    color: #0A0908
}

/*------------------------------------------------------------------------------
   Mise en page
------------------------------------------------------------------------------*/

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/*------------------------------------------------------------------------------
   Éléments/typographie
------------------------------------------------------------------------------*/

h1{
    font: bold 3.125rem/110% "Jost", sans-serif;
    font-optical-sizing: auto;
    color: #F2F4F3;
    margin: 0;
}

h2{
    font: bold 2.25rem/110% "Jost", sans-serif;
    font-optical-sizing: auto;
    color: #0A0908;
    margin: 0;
}

h3{
    font: bold 1.375rem/110% "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    color: #E25254;
    margin: 0;
}

p{
    margin: 0;
}

a{
    font: bold 1.125rem/100% "Jost", sans-serif;
    font-optical-sizing: auto;
    color:#0A0908;
    text-decoration: none;
}

.bouton{
    font: bold 1.125rem/100% "Jost", sans-serif;
    font-optical-sizing: auto;
    color: #F2F4F3;

    border: none;
    border-radius: 23px;
    padding: 15px 20px;
    cursor: pointer;
}

/*------------------------------------------------------------------------------
   Components
------------------------------------------------------------------------------*/

/*-- Header --*/

.header{
    border-top: #E25254 4px solid;
}

.header .logo{
    
}